section.lightgallery
    .container
        h2 Lightgallery
        .row
            .col-4
                a(href='img/lightgallery/1.jpg' data-fancybox='images')
                    img(src='img/lightgallery/1.jpg')
            .col-4
                a(href='img/lightgallery/2.jpg' data-fancybox='images')
                    img(src='img/lightgallery/2.jpg')
            .col-4
                a(href='img/lightgallery/3.jpg' data-fancybox='images')
                    img(src='img/lightgallery/3.jpg')


section.fancybox
    .container
        h2 Fancybox
        a(href="" data-fancybox data-options='{"src": "#Modal", "touch": false, "smallBtn" : false}') Fancybox
        .modal#Modal
            i.fad.fa-ufo
            i.fad.fa-tractor

section.font-awesome
    .container
        h2 Font-awesome
        i.fad.fa-pig


