section.banner(setBackground='./img/index/banner.png')
	.container
		.plugin
			.icon
				a(href='javascript:;').ri-home-8-fill
			.search
				input(type='text' placeholder='Search here')
				button(type='submit').material-icons search 
			.search-ipad
				input(type='text' placeholder='Search here')
				button(type='submit').material-icons search 
