section.background-page
	.container
		.intro
			.row
				.col-6.col-lg-3
					.box-1
						p Dòng sản phẩm trị mụn
				.col-6.col-lg-3
					.box-2
						p Dòng sản phẩm chống lão hóa di truyền
				.col-6.col-lg-3
					.box-3
						p Dòng sản phẩm chống lão hóa nội tiết
				.col-6.col-lg-3
					.box-4
						p Dòng sản phẩm trị nám và làm sáng da
		.item-box-1
			h2.block-title Khuyến mại
			.product
				.box-price1
					img(src="./img/index/d-price1.png")
				.box-product
					.row
						-for(i=0;i<2;i++)
							.col-12.col-sm-6.col-lg-3
								.item-1
									.image-item
										img(src="./img/index/item-2.png")
									.price
										p 865.000 Đ
										h4 780.000 Đ
									.discount
										span -11%
								.btn.see-more
									a(href="") Thêm vào giỏ hàng
		.item-box-2
			h2.block-title Khuyến mại
			.product
				.box-price2
					img(src="./img/index/d-price2.png")
				.box-product
					.row
						-for(i=0;i<4;i++)
							.col-12.col-sm-6.col-lg-3
								.item-1
									.image-item
										img(src="./img/index/item-2.png")
									.price
										p 865.000 Đ
										h4 780.000 Đ
									.discount
										span -11%
								.btn.see-more
									a(href="") Thêm vào giỏ hàng
		.item-box-3
			h2.block-title Khuyến mại
			.product
				.box-price3
					img(src="./img/index/d-price3.png")
				.box-product
					.row
						-for(i=0;i<3;i++)
							.col-12.col-sm-6.col-lg-4
								.item-1
									.image-item
										img(src="./img/index/item-2.png")
									.price
										p 865.000 Đ
										h4 780.000 Đ
									.discount
										span -11%
								.btn.see-more
									a(href="") Thêm vào giỏ hàng
		.item-box-4
			h2.block-title Khuyến mại
			.product
				.box-price4
					img(src="./img/index/d-price4.png")
				.box-product
					.row
						.col-12
							.item-1
								.image-item
									img(src="./img/index/item-1.png")
								.price
									p 865.000 Đ
									h4 780.000 Đ
								.discount
									span -11%
							.btn.see-more
								a(href="") Thêm vào giỏ hàng
		.image-type
			img(src="./img/index/type.png")
		.text-info
			.row
				.col-12.col-lg-6
					.b-left
						p Murad là thương hiệu chăm sóc và đặc trị da cấp độ Bác sĩ với những công thức kê toa được phát triển độc quyền bởi giáo sư - bác sĩ Howard Murad. Xuyên suốt hành trình 30 năm tạo dựng và phát triển không ngừng, thương hiệu bác sĩ Murad nhận được sự tín nhiệm của hơn 30.000 chuyên gia uy tín hàng đầu trong lĩnh  vực Da liễu và hàng loạt ngôi sao trên toàn thế giới tin dùng nhiều năm.
						p Để được tư vấn, khám và siêu âm da miễn phí, quý khách hàng có thể đến trực tiếp showroom Murad chính hãng tại Việt Nam: 
						.icon
							em.ri-map-pin-2-fill
							p 397B Võ Văn Tần, Phường 5, Quận 3, TP.Hồ Chí Minh
				.col-12.col-lg-6
					.b-right
						p Để được hỗ trợ trực tiếp bởi chuyên viên tư vấn, liên hệ Hotline tổng đài : 
						p 
							img(src="./img/index/hotline.png")
						p Hoặc Hệ thống Đại lý ủy quyền trên toàn quốc
						p Ngoài ra, thông tin chi tiết khuyến mãi và mua hàng có thể xem tại:
						.icon
							em.ri-facebook-fill
							p www.muradvietnam.vn
						.icon
							em.ri-facebook-fill
							p www.facebook.com/murad.com.vn/
